<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | Funkoshop</title>
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
         <!-- Header Start -->
        <%- include('../partials/header') %>
        <!--Fin Header-->
    <main>
        <div>
            <h3>Acerca de Nosotros</h3>
            <p>
                Nuestros teléfonos
                5555-5555 094-xxx-xxxxx-xxxx
            </p>
            <p>
                <a href="mailto: funkoshop@funkos.org">Envianos un correo a funkoshop@funkos.org</a>
            </p>
        </div>
        <div></div>
        <div></div>
        <!--El main , bien gracias, ACORDATE ESTA VEZ!-->
    </main>

    <%- include('../partials/footer') %>
    <!--Fin Footer-->
</body>
</html>