<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> EDIT | Funkoshop</title>
    <link rel="stylesheet" href="../../CSS/index.css">
</head>

<body>
    <!--Inicio Header -->
    <%- include('partials/header') %>
    <!--Fin Header-->

    <main>

        <section class="container">

            <h1 class="Create__titulo">CREAR NUEVO ITEM</h1>
            <form action="" class="C__Form form__typografia"> <!--Todos los create__form pasan a C__Form por que es mas corto-->
                <section class="C__Form--select_grupo">
                    <div class="">
                        <label for="select_categoria">Categoria:</label>
                        <select class="C__Form--select" name="select_categoria" id="select_categoria">
                            <option value="" selected>Seleccionar</option>
                            <option value="cat1">Cetegoria1</option>
                            <option value="cat2">Categoria2</option>
                        </select>
                    </div>

                    <div class="">
                        <label for="select_licencia">Licencia:</label>
                        <select class="C__Form--select" name="select_licencia" id="select_licencia">
                            <option value="" selected>Seleccionar</option>
                            <option value="lic1">Licencia1</option>
                            <option value="lic2">Licencia2</option>
                        </select>
                    </div>
                </section>

                <section class="C__Form--Item">
                    <label>Nombre del producto:</label>
                    <p class="Subindice_Red">Kakashi Hatake Shippuden Saga</p>
                </section>


                <textarea class="descripcion_pruducto" id="descripcion" name="descripcion"></textarea>
                <div class="sku_precio_stock">

                    <section class="C__Form--Item">
                        <label>sku:</label>
                        <p class="Subindice_Red">SSK111AB001</p>
                    </section>

                    <section class="C__Form--Item">
                        <label>Precio:</label>
                        <p class="Subindice_Red">$ 0.000,00</p>
                    </section>


                    <section class="C__Form--Item">
                        <label>Stock:</label>
                        <p class="Subindice_Red">0</p>
                    </section>

                </div>

                <div class="sku_precio_stock">

                    <section class="C__Form--Item">
                        <label>Descuento:</label>
                        <p class="Subindice_Red">0%</p>

                    </section>

                    <section class="C__Form--Item">
                        <label>Cuotas:</label>
                        <select class="C__Form--select" name="select_cuotas" id="select_cuotas">
                            <option value="" selected>Seleccionar</option>
                            <option value="cat1">3 cuotas sin interes</option>
                            <option value="cat2">6 cuotas sin interes</option>
                            <option value="cat3">9 cuotas sin interes</option>
                            <option value="cat4">12 cuotas sin interes</option>

                        </select>
                    </section>
                </div>

                <section class="C__Form--Item">
                    <label>Imágenes:</label>
                    <button>Elegir Archivos</button>
                    <p>No se ha seleccionado ningun archivo</p>
                </section>

                <section>
                    <img class="edit__imagen" src="../../img/pokemon/pidgeotto-1.webp" alt="pokemon" />
                    <img class="edit__imagen" src="../../img/pokemon/pidgeotto-box.webp" alt="pokemon" />
                </section> 

            </form>
            <div class="C__Form--Item">

                <div class="form__botones">
                    <button class="form__botones--item">Agregar Producto</button>
                    <button class="form__botones--item">Limpiar</button>
                </div>
            </div>
        </section>


    </main>
    <%- include('partials/footer') %>
</body>

</html>